@font-face {
    font-family: 'pokemon';
    src: url('pokemon-webfont.woff2') format('woff2'),
         url('pokemon-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}